In [8]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [9]:
# Load the movie ratings dataset
ratings_df = pd.read_csv('rating.csv')

In [10]:
ratings_df1=ratings_df.head(200)

In [11]:
# Load the movies dataset
movies_df = pd.read_csv('movie.csv')

In [12]:
movies_df1=movies_df.head(200)

In [16]:
movies_df1

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
195,197,"Stars Fell on Henrietta, The (1995)",Drama
196,198,Strange Days (1995),Action|Crime|Drama|Mystery|Sci-Fi|Thriller
197,199,"Umbrellas of Cherbourg, The (Parapluies de Che...",Drama|Musical|Romance
198,200,"Tie That Binds, The (1995)",Thriller
199,201,Three Wishes (1995),Drama|Fantasy

In [13]:
df = pd.merge(movies_df1, ratings_df1, on='movieId')

In [14]:
# Create a pivot table
ratings_matrix = df.pivot_table(index='userId', columns='title', values='rating')

# Fill missing values with zeros
ratings_matrix = ratings_matrix.fillna(0)

# Calculate pairwise similarity matrix
movie_similarity = cosine_similarity(ratings_matrix.T)

In [19]:
# Function to get top n similar movies
def get_similar_movies(movie_name, n):
    movie_index = list(ratings_matrix.columns).index(movie_name)
    movie_similarity_score = movie_similarity[movie_index]
    movie_similarity_score = list(enumerate(movie_similarity_score))
    movie_similarity_score = sorted(movie_similarity_score, key=lambda x: x[1], reverse=True)
    movie_similarity_score = movie_similarity_score[1:n+1]
    movie_indices = [i[0] for i in movie_similarity_score]
    return list(ratings_matrix.columns[movie_indices])

# Test the function
get_similar_movies('Jumanji (1995)', 5)

['Jumanji (1995)',
 'Rob Roy (1995)',
 'Rumble in the Bronx (Hont faan kui) (1995)',
 'Seven (a.k.a. Se7en) (1995)',
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)']